@import '_reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --clr-background: #9ab8ba;
    --clr-light-background: #ddf7f8;
    --clr-important-text: #045256;
    --clr-text: #0b1516;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--clr-text);
    background: var(--clr-background);
}
/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light-background);
    color: var(--clr-important-text);
    width: 75%;
    height: 6rem;
    border-radius: 2rem;
    margin-top: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header-title {
    letter-spacing: 8px;
}

.header-title::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    background-image: url(../imgs/rocket-left.svg);
    background-size: contain;
}

.header-title::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    background-image: url(../imgs/rocket-right.svg);
    background-size: contain;
}

/* Main */
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    padding: 1rem 0;
    margin-bottom: 2rem;
    overflow-y: auto;
    overflow-y: overlay;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    padding: 1rem;
}

.board-one-title,
.board-two-title {
    font-size: 1.7rem;
}

.board-one,
.board-two {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    aspect-ratio: 1;
    width: 100%;
    max-width: 350px;
    background-color: var(--clr-light-background);
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(14, 30, 37, 0.3) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
}

.board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}
div[data-coords='9,0'] {
    border-radius: 1rem 0 0 0;
}
div[data-coords='9,9'] {
    border-radius: 0 1rem 0 0;
}
div[data-coords='0,0'] {
    border-radius: 0 0 0 1rem;
}
div[data-coords='0,9'] {
    border-radius: 0 0 1rem 0;
}
.board-cell.friendly {
    background-color: var(--clr-important-text);
}
.board-cell.hit::before {
    content: '';
    width: 50%;
    height: 50%;
    border-radius: 100vmax;
    background-color: #a80b44;
}
.board-cell.sunk {
    background-color: #a80b44;
}
.board-cell.miss::before {
    content: '';
    width: 50%;
    height: 50%;
    border-radius: 100vmax;
    background-color: var(--clr-text);
}

.board-two .board-cell:hover:not(.friendly, .hit, .sunk, .miss) {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: crosshair;
}

/* Modal  */
.modal {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(221,247,248, .3);
    backdrop-filter: blur(15px);
    z-index: 1;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding: 2rem;
    background-color: var(--clr-background);
    border-radius: 1.5rem;
    box-shadow: 0 0 22pt 5pt var(--clr-important-text);
    width: 90%;
    max-width: 400px;
}

.modal-outcome {
    font-size: 1.8rem;
}

.modal-title {
    font-size: 1.5rem;
    text-align: center;
}

.modal-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    aspect-ratio: 1;
    width: 100%;
    max-width: 350px;
    background-color: var(--clr-light-background);
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(14, 30, 37, 0.3) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
}

.modal-board-cell {
    border: 1px solid grey;
}

.modal-board-ship {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--clr-important-text);
    cursor: move;
}
.modal-board-ship::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--clr-important-text);
}
.modal-board-ship.horizontal-1::after {
    width: 0;
}
.modal-board-ship.horizontal-2::after {
    left: 100%;
    width: calc(100% + 2px);
}
.modal-board-ship.horizontal-3::after {
    left: 100%;
    width: calc(200% + 4px);
}
.modal-board-ship.horizontal-4::after {
    left: 100%;
    width: calc(300% + 6px);
}
.modal-board-ship.horizontal-5::after {
    left: 100%;
    width: calc(400% + 8.5px);
}
.modal-board-ship.vertical-2::after {
    bottom: calc(-100% - 2px);
    height: calc(100% + 2px);
}
.modal-board-ship.vertical-3::after {
    bottom: calc(-200% - 4px);
    height: calc(200% + 4px);
}
.modal-board-ship.vertical-4::after {
    bottom: calc(-300% - 6px);
    height: calc(300% + 6px);
}
.modal-board-ship.vertical-5::after {
    bottom: calc(-400% - 8px);
    height: calc(400% + 8px);
}

.modal-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-random {
    margin-top: -1rem;
    margin-bottom: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--clr-text);
    transition: .5s;
}

.modal-random:hover svg {
    transition: .5s ease-in-out;
    transform: rotate(360deg);
    color: var(--clr-important-text);
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
    padding: 1rem 1rem 0 1rem;
}

.modal-name-input {
    all: unset;
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 2px solid var(--clr-important-text);
}

.modal-submit {
    width: 80%;
    height: 2.2rem;
    border: none;
    border-radius: 10px;
    background-color: var(--clr-light-background);
    color: var(--clr-important-text);
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .5s;
}
.modal-submit:hover {
    color: var(--clr-light-background);
    background-color: var(--clr-important-text);
    transform: translateY(-3px);
    box-shadow: 0 0 5pt 2pt var(--clr-light-background);
}



/* Footer */
footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    z-index: 0;
}

.footer-link {
    text-decoration: none;
    width: 250px;
    height: 70px;
    border-radius: 15px;
    background-color: var(--clr-light-background);
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: .5s;
}

.footer-link svg {
    transition: .5s;
    width: 60px;
    height: 60px;
    color: var(--clr-important-text);
    position: absolute;
    top: 5px;
    right: 90px;
}

.footer-link p {
    color: var(--clr-text);
    opacity: 0;
    position: absolute;
    top: 0;
    letter-spacing: 1.5px;
    transition: .5s;
}

.footer-link:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.footer-link:hover p {
    font-size: larger;
    font-weight: bolder;
    top: 25px;
    opacity: 1;
}

.footer-link:hover svg {
    opacity: .2;
    top: 0px;
    right: 5px;
    height: 90px;
    width: 90px;
}

/* hide  */
.display-none {
    display: none;
}
