@import '_reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --clr-background: #9ab8ba;
    --clr-light-background: #ddf7f8;
    --clr-important-text: #045256;
    --clr-text: #0b1516;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--clr-text);
    background: var(--clr-background);
}
/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light-background);
    color: var(--clr-important-text);
    width: 75%;
    height: 6rem;
    border-radius: 2rem;
    margin-top: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header-title {
    letter-spacing: 8px;
}

.header-title::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    background-image: url(../imgs/rocket-left.svg);
    background-size: contain;
}

.header-title::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    background-image: url(../imgs/rocket-right.svg);
    background-size: contain;
}

/* Main */
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    padding: 1rem 0;
    overflow-y: auto;
    overflow-y: overlay;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    padding: 1rem;
}

.board-one-title,
.board-two-title {
    font-size: 1.7rem;
}

.board-one,
.board-two {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    aspect-ratio: 1;
    width: 100%;
    max-width: 350px;
    background-color: var(--clr-light-background);
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(14, 30, 37, 0.3) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
}

.board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}
div[data-coords='10,0'] {
    border-radius: 1rem 0 0 0;
}
div[data-coords='10,9'] {
    border-radius: 0 1rem 0 0;
}
div[data-coords='1,0'] {
    border-radius: 0 0 0 1rem;
}
div[data-coords='1,9'] {
    border-radius: 0 0 1rem 0;
}
.board-cell.friendly {
    background-color: var(--clr-important-text);
}
.board-cell.hit::before {
    content: '';
    width: 50%;
    height: 50%;
    border-radius: 100vmax;
    background-color: #a80b44;
}
.board-cell.sunk {
    background-color: #a80b44;
}
.board-cell.miss::before {
    content: '';
    width: 50%;
    height: 50%;
    border-radius: 100vmax;
    background-color: var(--clr-text);
}

.board-two .board-cell:hover:not(.friendly, .hit, .sunk, .miss) {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: crosshair;
}

/* hide  */
.display-none {
    display: none;
}
